.gridFormat{

    margin:10px;
   

}
.title{
    margin:10px;
    font:35px verdana;
}

.master-detail-caption{
    font-weight: bold;
    margin-bottom: 10px;
}

.content > div{
    float:left;
    margin:30px;
}